.center {
  text-align:center;
  justify-content: center;
}
body{
  background-color: lightblue;
}
#error{
  color:red;
}
.MainSize{
  font-size:25px;
  size:25px;
}
.Jbetween{
  justify-content: space-between;
}
#Objective {
  box-sizing:border-box;
  width:100%;
  border-radius:6px;
  padding: 5px 5px;
}
#Deadlineminute {
  border-radius:6px;
  padding: 5px 5px;
}
#Deadlinehour {
  border-radius:6px;
  padding: 5px 5px;
}
#Deadlineday {
  border-radius:6px;
  padding: 5px 5px;
}
#Deadlinemonth {
  border-radius:6px;
  padding: 5px 5px;
}
#Deadlineyear {
  border-radius:6px;
  padding: 5px 5px;
}
.Sizebutton {
  width:30%;
  font-size:20px;
  margin-top:-2px;
  margin-bottom:-1px;
}
#picksort {
  font-size:15px;
}
li {
  padding: 2px 0px 0px 5px;
  margin:2px;
  width:75%;
  height:25px;
  font-size:20px;
  background-color:lightgreen;
  border-style:solid;
  border-width:1px;
  border-radius:10px;
  list-style-type:none;
}
.Rad {
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
button{
  font-size:25px;
  width:200px;
}
.Flexrow{
  display:flex;
  flex-direction:row;
  gap:10px;
}
.Dbuttons {
  background-color:red;
  color:white;
}
.Abuttons{
  background-color: blue;
  color:white;
}
#container {
  display:grid;
  grid-template-areas: 
    "left middle right"
    "left middle right"
    "left middle right";
  grid-gap:5px;
  grid-template-columns:0.5fr auto 0.5fr;
  grid-template-rows:auto auto auto;
}
#left {
  grid-area:left;
}
#middle {
  grid-area:middle;
  background-color:lightgray;
}
#right {
  grid-area:right;
}
.Flexcol{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:5px;
}
.bg-black {
  background-color:black;
}
