.center {
  text-align:center;
  justify-content: center;
}
body{
  background-color: lightblue;
}
#error{
  color:red;
}
.MainSize{
  font-size:25px;
  size:25px;
}
.Jbetween{
  justify-content: space-between;
}
li {
  justify-content: space-between;
  padding-left:10px;
  font-size:25px;
  background-color:lime;
  color:black;
  border-style:solid;
  border-block-width:1px;
  border-left-width:0.2px;
  border-right-width:0.2px;
  list-style-type:none;
}
button{
  font-size:25px;
  width:200px;
}
.Flexrow{
  display:flex;
  flex-direction:row;
  gap:10px;
}
.Dbuttons {
  background-color:red;
  color:white;
}
.Abuttons{
  background-color: blue;
  color:white;
}
.Flexcol{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.bg-black {
  background-color:black;
}